.attribution { 
  font-size: 11px; text-align: center; color: black;
  padding: 10px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  height: 800px; /*To ewentualnie usunąć*/
  margin: 0;
  padding: 0;
  background-color: hsl(0, 100%, 74%);
  background-image: url("./images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  /* margin-left: auto;
  margin-right: auto; */
}

h1{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

p{
  margin: 0;
  padding: 0 5px; 
  color: white;
}

#container{
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#container > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  margin: 80px 0;
  min-width: 280px;
}

#right-container{
  text-align: center;
}

.rounded-corners{
  border-radius: 8px;
}

.shadow-boxes{
  -webkit-box-shadow: 0px 10px 2px 0px hsla(249, 10%, 26%, 0.2);
  -moz-box-shadow: 0px 10px 2px 0px hsla(249, 10%, 26%, 0.2);
  box-shadow: 0px 10px 2px 0px hsla(249, 10%, 26%, 0.2);
}

#try-for-free{
  background-color: hsl(248, 32%, 49%);
  color: white;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}
.bolded-text{
  font-weight: bold;
}

#new-user-data-form{
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  padding-top: 20px;
}

#data-panel{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-user-data{
  background-color: white;
  width: 80%;
  padding: 0;
  margin: 5px 0;
  margin-left: auto;
  margin-right: auto;
  color: hsl(249, 10%, 26%);
  font-weight: bold;
  font-size: 1.0rem;
  height: 50px;
  text-indent: 20px;
  border: 1px hsl(246, 25%, 77%) solid;
}

#trial-claim-button{
  margin: 5px 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
  background-color: hsl(154, 59%, 51%);
  border: 1px hsl(154, 59%, 51%) solid;
  height: 50px;
  font-size: 1.0rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

  -webkit-box-shadow: 0px 4px 2px 0px hsl(154, 79%, 39%);
  -moz-box-shadow: 0px 4px 2px 0px hsl(154, 79%, 39%);
  box-shadow: 0px 4px 2px 0px hsl(154, 79%, 39%);
}

#disclaimer{
  font-size: 0.7rem;
  color: hsl(246, 25%, 77%);
  padding: 10px 30px 20px 30px;
}

#terms-and-services{
  text-decoration: none;
  font-weight: bold;
  color: hsl(0, 100%, 74%) ;
}

@media (max-width: 375px) {
  body{
    width: 100vw;
    background-image: url("./images/bg-intro-mobile.png");
    background-position: unset;
  }
  
  h1{
    font-size: 2rem;
  }

  #container{
    flex-direction: column;
    width: 90vw;
  }

  #container > div{
    text-align: center;
    margin: 0;
  }
}

 @media /*(max-width: 1000px) and*/ (min-width: 1400px) { 

  #left-container, #right-container{
    max-width: 560px;
  }
}
